# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# IDE
.idea/

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Test artifacts
.pytest_cache/
.coverage

# Results
results/